// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.over-line {
    height: 60px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;   /*省略第n行後的文字*/
    -webkit-box-orient: vertical;  /*設定元素是垂直布局*/
}

.ql-editor{
    min-height: 18em;
}